.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 20vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.link-block {
  margin: 15px 0;
}

.link-block span {
  margin-right: 10px;
}

.link-block span a {
  padding: 5px;
  background-color: bisque;
  border: 1px solid black;
  border-radius: 4px;
  box-shadow: 6px 7px 5px -4px rgba(0, 0, 0, 0.75);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
